<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.school.bicycle">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 新浪 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- wx -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- qq -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 友盟appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="594bd7b107fe6525ee0009ba" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="7afe42091417bc54841e5186b640e247" />
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 监听系统下载完成的广播 -->
        <receiver
            android:name=".ui.main.DownloadReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="DownloadManager.ACTION_DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".HooliganActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/HooliganActivitystyle" />
        <activity
            android:name=".ui.AppLauncherActivity"
            android:theme="@style/BaseTheme.Volunteer.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="首页"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:launchMode="singleTask"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- 定位服务 -->
        <service
            android:name=".service.LocationService"
            android:exported="false"
            android:process="system" />
        <service
            android:name=".service.jihuoservice"
            android:exported="false"
            android:process="system" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e9ec77c7977cb1ddd650da3e6576c9e6" />

        <activity
            android:name=".ui.register.RegisterActivity"
            android:label="注册"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.authentication.RealnameActivity"
            android:label="注册"
            android:launchMode="singleTask" />
        <activity android:name=".ui.eposit.DepositActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.result.ResultActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity
            android:name=".ui.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.lockopen.LockOpenActivity" />
        <activity android:name=".ui.longtimeLease.LongTimeLeaseActivity" />
        <activity android:name=".ui.Myeserve.MyReserveActivity" />
        <activity android:name=".ui.Withdrawals.WithdrawalsActivity" />
        <activity
            android:name=".ui.ScanQRCodeActivity"
            android:label="扫描二维码"
            android:launchMode="singleTask" />
        <activity android:name=".ui.mybicycle.MyBicycleActivity" />
        <activity android:name=".ui.usebicycle.UseBicycleActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".ui.lockclose.LockcloseActivity" />
        <activity android:name=".ui.Ivfriends.IvfriendsActivity" />
        <activity android:name=".ui.cancelusebiycle_activity.Cancellusebiycle_Activity" />
        <activity android:name=".ui.ZxingActivity" />
        <activity android:name=".ui.Mycoupon_chooles_Activity" />
        <activity android:name=".ui.calendar.CalendarSelectActivity" />
        <activity android:name=".ui.OverPayActivity" />
        <activity android:name=".ui.mywallet.Mywallet_activity" />
        <activity android:name=".ui.Details.DetailsActivity" />
        <activity android:name=".ui.FaultActivity" />
        <activity android:name=".ui.InformationActivity" />
        <activity android:name=".ui.setup.Setup_Activity" />
        <activity android:name=".ui.pay.PayActivity" />
        <activity android:name=".ui.xingcheng_map_acvitity" />
        <activity android:name=".ui.MyRoute.MyRoute_Activity" />
        <activity android:name=".ui.User_Activity" />
        <activity android:name=".ui.setup_chongzhiActivity" />
        <activity android:name=".ui.setup_despositActivity" />
        <activity android:name=".ui.setup_userActivity" />
        <activity android:name=".ui.openbynum_Activity" />
        <activity android:name=".ui.AboutUsActivity" />
        <activity android:name=".ui.RechargeActivity" />
        <activity android:name=".ui.BikeAlarmListActivity" />
        <activity android:name=".ui.ShareincomeActivity" />
        <activity android:name=".ui.Mycoupon_choolesday_Activity" />
        <activity android:name=".ui.Mycoupon_Activity" />
        <activity android:name=".ui.setup_banbenhaoActivity" />
        <activity android:name=".ui.ChangePhoneActivity" />
        <activity android:name=".ui.setup_yonghuActivity" />
        <activity android:name=".ui.ChangePhoneNextActivity" />
        <activity android:name=".ui.MyMsgDetailActivity" />
        <activity
            android:name=".ui.ZhiDaoActivity"
            android:theme="@android:style/Theme.Translucent"
            />
    </application>

</manifest>